<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/public/assets/style.css">
  <head>
    <title>Home</title>
  </head>
  <body>
    <%- include('header') -%>
    <h1>Welcome to my server!<br></h1><h2>This is a website where you can see the issues of my project with real-time updates.</h2>
  </body>
</html>